body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 1.5rem;
    opacity: 1;
    transition: opacity 3.0s ease-in-out;
}

body.fade-out {
    opacity: 1;
}

div {
    padding: 111px;
    padding-bottom:555px;
    font-size: 22px;
}

.note {

    bottom: 20px; 
    width: 100%;
    text-align: center;
    font-size: 12px;
}